pkgbase = grive-git
	pkgdesc = An open source Linux client for Google Drive with support for the new Drive REST API and partial sync
	pkgver = 546.6901fbb
	pkgrel = 3
	url = https://github.com/vitalif/grive2
	arch = i686
	arch = x86_64
	license = GPL2
	makedepends = cmake
	makedepends = git
	makedepends = boost
	depends = yajl
	depends = curl
	depends = libgcrypt
	depends = boost-libs
	depends = gcc-libs
	depends = json-c
	depends = expat
	optdepends = inotify-tools: scheduled syncs and syncs on file change events
	optdepends = cppunit: unit tests
	optdepends = binutils: backtrace and libiberty
	provides = grive=546.6901fbb
	conflicts = grive
	source = grive-git::git+https://github.com/vitalif/grive2
	source = 01-memory.patch
	source = 02-libcrypt.patch
	sha256sums = SKIP
	sha256sums = f4801101bcd7f4329a65e065e31298c2c68e1ab5b7313888d1ab2357fc3ece49
	sha256sums = 01938dd936cfb4784ec1270fb982affee03f3d14cb373c534b640aa3af67b874

pkgname = grive-git
